doctype html
html
  head
    title Gitoscope

    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js")

    script(src="https://code.jquery.com/jquery-3.1.1.min.js")

    script(src="https://unpkg.com/babel-standalone@6.26.0/babel.js")

    script(src="/javascripts/reactClient.js" type="text/babel")
    script(src="/javascripts/Header.jsx" type="text/babel")
    script(src="/javascripts/Row.jsx" type="text/babel")
    script(src="/javascripts/Table.jsx" type="text/babel")
    script(src="/javascripts/Gitoscope.jsx" type="text/babel")

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div#Gitoscope
